@helper Tags(System.Web.Mvc.HtmlHelper htmlHelper,
    IList<ProgramingTraffic.Core.Objects.Tag> tags)
{
    if(tags != null)
    {
        foreach (var tag in tags)
        {
            <div class="tags-div">
                @ProgramingTraffic.ActionLinkExtensions.TagLink(htmlHelper, tag)
            </div>
        }
    }
}